.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    --background: #3D52A2;
}

ion-title {
    --color: #000;
    text-align: center;
}

ion-toolbar {
    --background: #3D52A2;
}